Algorithm/.vs/Algorithm/CopilotIndices/*
Algorithm/.vs/Algorithm/DesignTimeBuild/*
Algorithm/.vs/Algorithm/FileContentIndex/*
Algorithm/.vs/Algorithm/v17/*
Algorithm/.vs/ProjectEvaluation/*
Algorithm/Algorithm/bin/*
Algorithm/Algorithm/obj/*
